<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
  <table width="800px"
  style="margin: auto;padding: 85px 65px;">
<tr>
    <td style="padding-bottom: 40px;">
        <p style="color: #003143;font-size: 17px; line-height: 1.5;">Përshëndetje {{name}},
            <br/><br/>
            Kliko në vegëzën e mëposhtme që ta ndryshosh fjalëkalimin për qasje në CMS të Heimerer<br>
        </p>
    </td>
</tr>
<tr>
</tr>
<tr>
    <td style="padding-bottom: 40px;">
        <p style="padding: 20px 0; text-decoration: none;font-size: 17px; line-height: 1.5;">
            <a href={{link}} style="padding: 20px 40px; text-decoration: none;color: white;background-color: #00a785"><b>NDRYSHO FJALËKALIMIN</b></a>
        </p>
    </td>
</tr>
</table>` 
</body>
</html>
